src/main/resources/wsdl/xsd/metaData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://gnuob.netbrasoft.com/"
   elementFormDefault="unqualified"
   targetNamespace="http://gnuob.netbrasoft.com/"
   version="1.0">
   <xs:complexType name="metaData">
      <xs:sequence>
         <xs:element
            name="site"
            type="xs:string" />
         <xs:element
            name="user"
            type="xs:string" />
         <xs:element
            name="password"
            type="xs:string" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>