src/main/resources/wsdl/CategoryWebServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:tns="http://gnuob.netbrasoft.com/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
   name="CategoryWebServiceImplService"
   targetNamespace="http://gnuob.netbrasoft.com/">
   <wsdl:types>
      <xs:schema
         xmlns:xs="http://www.w3.org/2001/XMLSchema"
         xmlns:tns="http://gnuob.netbrasoft.com/"
         elementFormDefault="unqualified"
         targetNamespace="http://gnuob.netbrasoft.com/"
         version="1.0">
         <xs:include schemaLocation="./xsd/category.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/metaData.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/operation.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderBy.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderEnum.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/paging.xsd"></xs:include>
         <xs:element
            name="Category"
            type="tns:category" />
         <xs:element
            name="Content"
            type="tns:content" />
         <xs:element
            name="Paging"
            type="tns:paging" />
         <xs:element
            name="Permission"
            type="tns:permission" />
         <xs:element
            name="Rule"
            type="tns:rule" />
         <xs:element
            name="SubCategory"
            type="tns:subCategory" />
         <xs:element
            name="countCategory"
            type="tns:countCategory" />
         <xs:element
            name="countCategoryResponse"
            type="tns:countCategoryResponse" />
         <xs:element
            name="findCategory"
            type="tns:findCategory" />
         <xs:element
            name="findCategoryById"
            type="tns:findCategoryById" />
         <xs:element
            name="findCategoryByIdResponse"
            type="tns:findCategoryByIdResponse" />
         <xs:element
            name="findCategoryResponse"
            type="tns:findCategoryResponse" />
         <xs:element
            name="mergeCategory"
            type="tns:mergeCategory" />
         <xs:element
            name="mergeCategoryResponse"
            type="tns:mergeCategoryResponse" />
         <xs:element
            name="metaData"
            type="tns:metaData" />
         <xs:element
            name="persistCategory"
            type="tns:persistCategory" />
         <xs:element
            name="persistCategoryResponse"
            type="tns:persistCategoryResponse" />
         <xs:element
            name="refreshCategory"
            type="tns:refreshCategory" />
         <xs:element
            name="refreshCategoryResponse"
            type="tns:refreshCategoryResponse" />
         <xs:element
            name="removeCategory"
            type="tns:removeCategory" />
         <xs:element
            name="removeCategoryResponse"
            type="tns:removeCategoryResponse" />
         <xs:complexType name="refreshCategory">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="category"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="refreshCategoryResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="mergeCategory">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="category"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="mergeCategoryResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="countCategory">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="category"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="countCategoryResponse">
            <xs:sequence>
               <xs:element
                  name="return"
                  type="xs:long" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findCategoryById">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="category"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findCategoryByIdResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findCategory">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="category"
                  type="tns:category" />
               <xs:element
                  minOccurs="0"
                  name="paging"
                  type="tns:paging" />
               <xs:element
                  minOccurs="0"
                  name="orderBy"
                  type="tns:orderBy" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findCategoryResponse">
            <xs:sequence>
               <xs:element
                  maxOccurs="unbounded"
                  minOccurs="0"
                  name="return"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="removeCategory">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="category"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="removeCategoryResponse">
            <xs:sequence />
         </xs:complexType>
         <xs:complexType name="persistCategory">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="category"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="persistCategoryResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:category" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="refreshCategory">
      <wsdl:part
         element="tns:refreshCategory"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findCategoryResponse">
      <wsdl:part
         element="tns:findCategoryResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findCategoryByIdResponse">
      <wsdl:part
         element="tns:findCategoryByIdResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="countCategoryResponse">
      <wsdl:part
         element="tns:countCategoryResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="mergeCategory">
      <wsdl:part
         element="tns:mergeCategory"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="removeCategoryResponse">
      <wsdl:part
         element="tns:removeCategoryResponse"
         name="result">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="refreshCategoryResponse">
      <wsdl:part
         element="tns:refreshCategoryResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="removeCategory">
      <wsdl:part
         element="tns:removeCategory"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="persistCategory">
      <wsdl:part
         element="tns:persistCategory"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="persistCategoryResponse">
      <wsdl:part
         element="tns:persistCategoryResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="mergeCategoryResponse">
      <wsdl:part
         element="tns:mergeCategoryResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="countCategory">
      <wsdl:part
         element="tns:countCategory"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findCategoryById">
      <wsdl:part
         element="tns:findCategoryById"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findCategory">
      <wsdl:part
         element="tns:findCategory"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="CategoryWebServiceImpl">
      <wsdl:operation name="refreshCategory">
         <wsdl:input
            message="tns:refreshCategory"
            name="refreshCategory">
         </wsdl:input>
         <wsdl:output
            message="tns:refreshCategoryResponse"
            name="refreshCategoryResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="mergeCategory">
         <wsdl:input
            message="tns:mergeCategory"
            name="mergeCategory">
         </wsdl:input>
         <wsdl:output
            message="tns:mergeCategoryResponse"
            name="mergeCategoryResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="countCategory">
         <wsdl:input
            message="tns:countCategory"
            name="countCategory">
         </wsdl:input>
         <wsdl:output
            message="tns:countCategoryResponse"
            name="countCategoryResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findCategoryById">
         <wsdl:input
            message="tns:findCategoryById"
            name="findCategoryById">
         </wsdl:input>
         <wsdl:output
            message="tns:findCategoryByIdResponse"
            name="findCategoryByIdResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findCategory">
         <wsdl:input
            message="tns:findCategory"
            name="findCategory">
         </wsdl:input>
         <wsdl:output
            message="tns:findCategoryResponse"
            name="findCategoryResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeCategory">
         <wsdl:input
            message="tns:removeCategory"
            name="removeCategory">
         </wsdl:input>
         <wsdl:output
            message="tns:removeCategoryResponse"
            name="removeCategoryResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="persistCategory">
         <wsdl:input
            message="tns:persistCategory"
            name="persistCategory">
         </wsdl:input>
         <wsdl:output
            message="tns:persistCategoryResponse"
            name="persistCategoryResponse">
         </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding
      name="CategoryWebServiceImplServiceSoapBinding"
      type="tns:CategoryWebServiceImpl">
      <soap:binding
         style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="refreshCategory">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="refreshCategory">
            <soap:header
               message="tns:refreshCategory"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="refreshCategoryResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="mergeCategory">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="mergeCategory">
            <soap:header
               message="tns:mergeCategory"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="mergeCategoryResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="countCategory">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="countCategory">
            <soap:header
               message="tns:countCategory"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="countCategoryResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findCategoryById">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="findCategoryById">
            <soap:header
               message="tns:findCategoryById"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="findCategoryByIdResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findCategory">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="findCategory">
            <soap:header
               message="tns:findCategory"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="findCategoryResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeCategory">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="removeCategory">
            <soap:header
               message="tns:removeCategory"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="removeCategoryResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="persistCategory">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="persistCategory">
            <soap:header
               message="tns:persistCategory"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="persistCategoryResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CategoryWebServiceImplService">
      <wsdl:port
         binding="tns:CategoryWebServiceImplServiceSoapBinding"
         name="CategoryWebServiceImplPort">
         <soap:address
            location="http://localhost:8080/gnuob-soap/CategoryWebServiceImpl" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>