src/main/resources/wsdl/ContentWebServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:tns="http://gnuob.netbrasoft.com/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
   name="ContentWebServiceImplService"
   targetNamespace="http://gnuob.netbrasoft.com/">
   <wsdl:types>
      <xs:schema
         xmlns:xs="http://www.w3.org/2001/XMLSchema"
         xmlns:tns="http://gnuob.netbrasoft.com/"
         elementFormDefault="unqualified"
         targetNamespace="http://gnuob.netbrasoft.com/"
         version="1.0">
         <xs:include schemaLocation="./xsd/content.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/metaData.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/operation.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderBy.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderEnum.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/paging.xsd"></xs:include>
         <xs:element
            name="Content"
            type="tns:content" />
         <xs:element
            name="Paging"
            type="tns:paging" />
         <xs:element
            name="Permission"
            type="tns:permission" />
         <xs:element
            name="Rule"
            type="tns:rule" />
         <xs:element
            name="countContent"
            type="tns:countContent" />
         <xs:element
            name="countContentResponse"
            type="tns:countContentResponse" />
         <xs:element
            name="findContent"
            type="tns:findContent" />
         <xs:element
            name="findContentById"
            type="tns:findContentById" />
         <xs:element
            name="findContentByIdResponse"
            type="tns:findContentByIdResponse" />
         <xs:element
            name="findContentResponse"
            type="tns:findContentResponse" />
         <xs:element
            name="mergeContent"
            type="tns:mergeContent" />
         <xs:element
            name="mergeContentResponse"
            type="tns:mergeContentResponse" />
         <xs:element
            name="metaData"
            type="tns:metaData" />
         <xs:element
            name="persistContent"
            type="tns:persistContent" />
         <xs:element
            name="persistContentResponse"
            type="tns:persistContentResponse" />
         <xs:element
            name="refreshContent"
            type="tns:refreshContent" />
         <xs:element
            name="refreshContentResponse"
            type="tns:refreshContentResponse" />
         <xs:element
            name="removeContent"
            type="tns:removeContent" />
         <xs:element
            name="removeContentResponse"
            type="tns:removeContentResponse" />
         <xs:complexType name="mergeContent">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="content"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="mergeContentResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="persistContent">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="content"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="persistContentResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="countContent">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="content"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="countContentResponse">
            <xs:sequence>
               <xs:element
                  name="return"
                  type="xs:long" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findContentById">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="content"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findContentByIdResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="refreshContent">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="content"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="refreshContentResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findContent">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="content"
                  type="tns:content" />
               <xs:element
                  minOccurs="0"
                  name="paging"
                  type="tns:paging" />
               <xs:element
                  minOccurs="0"
                  name="orderBy"
                  type="tns:orderBy" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findContentResponse">
            <xs:sequence>
               <xs:element
                  maxOccurs="unbounded"
                  minOccurs="0"
                  name="return"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="removeContent">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="content"
                  type="tns:content" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="removeContentResponse">
            <xs:sequence />
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="findContentResponse">
      <wsdl:part
         element="tns:findContentResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="countContentResponse">
      <wsdl:part
         element="tns:countContentResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="persistContentResponse">
      <wsdl:part
         element="tns:persistContentResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findContentById">
      <wsdl:part
         element="tns:findContentById"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="mergeContentResponse">
      <wsdl:part
         element="tns:mergeContentResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="mergeContent">
      <wsdl:part
         element="tns:mergeContent"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="refreshContentResponse">
      <wsdl:part
         element="tns:refreshContentResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="persistContent">
      <wsdl:part
         element="tns:persistContent"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="countContent">
      <wsdl:part
         element="tns:countContent"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="refreshContent">
      <wsdl:part
         element="tns:refreshContent"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="removeContentResponse">
      <wsdl:part
         element="tns:removeContentResponse"
         name="result">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findContent">
      <wsdl:part
         element="tns:findContent"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="removeContent">
      <wsdl:part
         element="tns:removeContent"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findContentByIdResponse">
      <wsdl:part
         element="tns:findContentByIdResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="ContentWebServiceImpl">
      <wsdl:operation name="mergeContent">
         <wsdl:input
            message="tns:mergeContent"
            name="mergeContent">
         </wsdl:input>
         <wsdl:output
            message="tns:mergeContentResponse"
            name="mergeContentResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="persistContent">
         <wsdl:input
            message="tns:persistContent"
            name="persistContent">
         </wsdl:input>
         <wsdl:output
            message="tns:persistContentResponse"
            name="persistContentResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="countContent">
         <wsdl:input
            message="tns:countContent"
            name="countContent">
         </wsdl:input>
         <wsdl:output
            message="tns:countContentResponse"
            name="countContentResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findContentById">
         <wsdl:input
            message="tns:findContentById"
            name="findContentById">
         </wsdl:input>
         <wsdl:output
            message="tns:findContentByIdResponse"
            name="findContentByIdResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="refreshContent">
         <wsdl:input
            message="tns:refreshContent"
            name="refreshContent">
         </wsdl:input>
         <wsdl:output
            message="tns:refreshContentResponse"
            name="refreshContentResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findContent">
         <wsdl:input
            message="tns:findContent"
            name="findContent">
         </wsdl:input>
         <wsdl:output
            message="tns:findContentResponse"
            name="findContentResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeContent">
         <wsdl:input
            message="tns:removeContent"
            name="removeContent">
         </wsdl:input>
         <wsdl:output
            message="tns:removeContentResponse"
            name="removeContentResponse">
         </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding
      name="ContentWebServiceImplServiceSoapBinding"
      type="tns:ContentWebServiceImpl">
      <soap:binding
         style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="mergeContent">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="mergeContent">
            <soap:header
               message="tns:mergeContent"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="mergeContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="persistContent">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="persistContent">
            <soap:header
               message="tns:persistContent"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="persistContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="countContent">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="countContent">
            <soap:header
               message="tns:countContent"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="countContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findContentById">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="findContentById">
            <soap:header
               message="tns:findContentById"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="findContentByIdResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="refreshContent">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="refreshContent">
            <soap:header
               message="tns:refreshContent"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="refreshContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findContent">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="findContent">
            <soap:header
               message="tns:findContent"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="findContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removeContent">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="removeContent">
            <soap:header
               message="tns:removeContent"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="removeContentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ContentWebServiceImplService">
      <wsdl:port
         binding="tns:ContentWebServiceImplServiceSoapBinding"
         name="ContentWebServiceImplPort">
         <soap:address
            location="http://localhost:8080/gnuob-soap/ContentWebServiceImpl" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>