src/main/resources/wsdl/PayPalExpressCheckOutWebServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:tns="http://gnuob.netbrasoft.com/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
   name="PayPalExpressCheckOutWebServiceImplService"
   targetNamespace="http://gnuob.netbrasoft.com/">
   <wsdl:types>
      <xs:schema
         xmlns:xs="http://www.w3.org/2001/XMLSchema"
         xmlns:tns="http://gnuob.netbrasoft.com/"
         elementFormDefault="unqualified"
         targetNamespace="http://gnuob.netbrasoft.com/"
         version="1.0">
         <xs:include schemaLocation="./xsd/order.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/metaData.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/operation.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderBy.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderEnum.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/paging.xsd"></xs:include>
         <xs:element
            name="Address"
            type="tns:address" />
         <xs:element
            name="Content"
            type="tns:content" />
         <xs:element
            name="Contract"
            type="tns:contract" />
         <xs:element
            name="Customer"
            type="tns:customer" />
         <xs:element
            name="Invoice"
            type="tns:invoice" />
         <xs:element
            name="Option"
            type="tns:option" />
         <xs:element
            name="Order"
            type="tns:order" />
         <xs:element
            name="OrderRecord"
            type="tns:orderRecord" />
         <xs:element
            name="Payment"
            type="tns:payment" />
         <xs:element
            name="Permission"
            type="tns:permission" />
         <xs:element
            name="Product"
            type="tns:product" />
         <xs:element
            name="Rule"
            type="tns:rule" />
         <xs:element
            name="Shipment"
            type="tns:shipment" />
         <xs:element
            name="Stock"
            type="tns:stock" />
         <xs:element
            name="SubCategory"
            type="tns:subCategory" />
         <xs:element
            name="SubOption"
            type="tns:subOption" />
         <xs:element
            name="doCheckout"
            type="tns:doCheckout" />
         <xs:element
            name="doCheckoutDetails"
            type="tns:doCheckoutDetails" />
         <xs:element
            name="doCheckoutDetailsResponse"
            type="tns:doCheckoutDetailsResponse" />
         <xs:element
            name="doCheckoutPayment"
            type="tns:doCheckoutPayment" />
         <xs:element
            name="doCheckoutPaymentResponse"
            type="tns:doCheckoutPaymentResponse" />
         <xs:element
            name="doCheckoutResponse"
            type="tns:doCheckoutResponse" />
         <xs:element
            name="doNotification"
            type="tns:doNotification" />
         <xs:element
            name="doNotificationResponse"
            type="tns:doNotificationResponse" />
         <xs:element
            name="doRefundTransaction"
            type="tns:doRefundTransaction" />
         <xs:element
            name="doRefundTransactionResponse"
            type="tns:doRefundTransactionResponse" />
         <xs:element
            name="doTransactionDetails"
            type="tns:doTransactionDetails" />
         <xs:element
            name="doTransactionDetailsResponse"
            type="tns:doTransactionDetailsResponse" />
         <xs:element
            name="metaData"
            type="tns:metaData" />
         <xs:complexType name="doRefundTransaction">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="order"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doRefundTransactionResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doCheckoutPayment">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="order"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doCheckoutPaymentResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doCheckout">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="order"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doCheckoutResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doCheckoutDetails">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="order"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doCheckoutDetailsResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doNotification">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="order"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doNotificationResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doTransactionDetails">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="order"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="doTransactionDetailsResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:order" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="doRefundTransaction">
      <wsdl:part
         element="tns:doRefundTransaction"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doTransactionDetailsResponse">
      <wsdl:part
         element="tns:doTransactionDetailsResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doCheckoutPayment">
      <wsdl:part
         element="tns:doCheckoutPayment"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doCheckoutPaymentResponse">
      <wsdl:part
         element="tns:doCheckoutPaymentResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doCheckout">
      <wsdl:part
         element="tns:doCheckout"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doCheckoutDetails">
      <wsdl:part
         element="tns:doCheckoutDetails"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doRefundTransactionResponse">
      <wsdl:part
         element="tns:doRefundTransactionResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doCheckoutDetailsResponse">
      <wsdl:part
         element="tns:doCheckoutDetailsResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doNotificationResponse">
      <wsdl:part
         element="tns:doNotificationResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doNotification">
      <wsdl:part
         element="tns:doNotification"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doTransactionDetails">
      <wsdl:part
         element="tns:doTransactionDetails"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="doCheckoutResponse">
      <wsdl:part
         element="tns:doCheckoutResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="PayPalExpressCheckOutWebServiceImpl">
      <wsdl:operation name="doRefundTransaction">
         <wsdl:input
            message="tns:doRefundTransaction"
            name="doRefundTransaction">
         </wsdl:input>
         <wsdl:output
            message="tns:doRefundTransactionResponse"
            name="doRefundTransactionResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doCheckoutPayment">
         <wsdl:input
            message="tns:doCheckoutPayment"
            name="doCheckoutPayment">
         </wsdl:input>
         <wsdl:output
            message="tns:doCheckoutPaymentResponse"
            name="doCheckoutPaymentResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doCheckout">
         <wsdl:input
            message="tns:doCheckout"
            name="doCheckout">
         </wsdl:input>
         <wsdl:output
            message="tns:doCheckoutResponse"
            name="doCheckoutResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doCheckoutDetails">
         <wsdl:input
            message="tns:doCheckoutDetails"
            name="doCheckoutDetails">
         </wsdl:input>
         <wsdl:output
            message="tns:doCheckoutDetailsResponse"
            name="doCheckoutDetailsResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doNotification">
         <wsdl:input
            message="tns:doNotification"
            name="doNotification">
         </wsdl:input>
         <wsdl:output
            message="tns:doNotificationResponse"
            name="doNotificationResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doTransactionDetails">
         <wsdl:input
            message="tns:doTransactionDetails"
            name="doTransactionDetails">
         </wsdl:input>
         <wsdl:output
            message="tns:doTransactionDetailsResponse"
            name="doTransactionDetailsResponse">
         </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding
      name="PayPalExpressCheckOutWebServiceImplServiceSoapBinding"
      type="tns:PayPalExpressCheckOutWebServiceImpl">
      <soap:binding
         style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="doRefundTransaction">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="doRefundTransaction">
            <soap:header
               message="tns:doRefundTransaction"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="doRefundTransactionResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doCheckoutPayment">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="doCheckoutPayment">
            <soap:header
               message="tns:doCheckoutPayment"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="doCheckoutPaymentResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doCheckout">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="doCheckout">
            <soap:header
               message="tns:doCheckout"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="doCheckoutResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doCheckoutDetails">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="doCheckoutDetails">
            <soap:header
               message="tns:doCheckoutDetails"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="doCheckoutDetailsResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doNotification">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="doNotification">
            <soap:header
               message="tns:doNotification"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="doNotificationResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doTransactionDetails">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="doTransactionDetails">
            <soap:header
               message="tns:doTransactionDetails"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="doTransactionDetailsResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PayPalExpressCheckOutWebServiceImplService">
      <wsdl:port
         binding="tns:PayPalExpressCheckOutWebServiceImplServiceSoapBinding"
         name="PayPalExpressCheckOutWebServiceImplPort">
         <soap:address
            location="http://localhost:8080/gnuob-soap/PayPalExpressCheckOutWebServiceImpl" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>