src/main/resources/wsdl/PostalCodeWebServiceImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
   xmlns:tns="http://gnuob.netbrasoft.com/"
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
   name="PostalCodeWebServiceImplService"
   targetNamespace="http://gnuob.netbrasoft.com/">
   <wsdl:types>
      <xs:schema
         xmlns:xs="http://www.w3.org/2001/XMLSchema"
         xmlns:tns="http://gnuob.netbrasoft.com/"
         elementFormDefault="unqualified"
         targetNamespace="http://gnuob.netbrasoft.com/"
         version="1.0">
         <xs:include schemaLocation="./xsd/postalCode.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/metaData.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/operation.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderBy.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/orderEnum.xsd"></xs:include>
         <xs:include schemaLocation="./xsd/paging.xsd"></xs:include>
         <xs:element
            name="Paging"
            type="tns:paging" />
         <xs:element
            name="PostalCode"
            type="tns:postalCode" />
         <xs:element
            name="countPostalCode"
            type="tns:countPostalCode" />
         <xs:element
            name="countPostalCodeResponse"
            type="tns:countPostalCodeResponse" />
         <xs:element
            name="findPostalCode"
            type="tns:findPostalCode" />
         <xs:element
            name="findPostalCodeById"
            type="tns:findPostalCodeById" />
         <xs:element
            name="findPostalCodeByIdResponse"
            type="tns:findPostalCodeByIdResponse" />
         <xs:element
            name="findPostalCodeResponse"
            type="tns:findPostalCodeResponse" />
         <xs:element
            name="mergePostalCode"
            type="tns:mergePostalCode" />
         <xs:element
            name="mergePostalCodeResponse"
            type="tns:mergePostalCodeResponse" />
         <xs:element
            name="metaData"
            type="tns:metaData" />
         <xs:element
            name="persistPostalCode"
            type="tns:persistPostalCode" />
         <xs:element
            name="persistPostalCodeResponse"
            type="tns:persistPostalCodeResponse" />
         <xs:element
            name="refreshPostalCode"
            type="tns:refreshPostalCode" />
         <xs:element
            name="refreshPostalCodeResponse"
            type="tns:refreshPostalCodeResponse" />
         <xs:element
            name="removePostalCode"
            type="tns:removePostalCode" />
         <xs:element
            name="removePostalCodeResponse"
            type="tns:removePostalCodeResponse" />
         <xs:complexType name="findPostalCodeById">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="postalCode"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findPostalCodeByIdResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="countPostalCode">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="postalCode"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="countPostalCodeResponse">
            <xs:sequence>
               <xs:element
                  name="return"
                  type="xs:long" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findPostalCode">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="postalCode"
                  type="tns:postalCode" />
               <xs:element
                  minOccurs="0"
                  name="paging"
                  type="tns:paging" />
               <xs:element
                  minOccurs="0"
                  name="orderBy"
                  type="tns:orderBy" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="findPostalCodeResponse">
            <xs:sequence>
               <xs:element
                  maxOccurs="unbounded"
                  minOccurs="0"
                  name="return"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="refreshPostalCode">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="postalCode"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="refreshPostalCodeResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="mergePostalCode">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="postalCode"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="mergePostalCodeResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="persistPostalCode">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="postalCode"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="persistPostalCodeResponse">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="return"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="removePostalCode">
            <xs:sequence>
               <xs:element
                  minOccurs="0"
                  name="postalCode"
                  type="tns:postalCode" />
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="removePostalCodeResponse">
            <xs:sequence />
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="countPostalCodeResponse">
      <wsdl:part
         element="tns:countPostalCodeResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findPostalCodeResponse">
      <wsdl:part
         element="tns:findPostalCodeResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="mergePostalCode">
      <wsdl:part
         element="tns:mergePostalCode"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="persistPostalCodeResponse">
      <wsdl:part
         element="tns:persistPostalCodeResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="removePostalCodeResponse">
      <wsdl:part
         element="tns:removePostalCodeResponse"
         name="result">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="persistPostalCode">
      <wsdl:part
         element="tns:persistPostalCode"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findPostalCodeById">
      <wsdl:part
         element="tns:findPostalCodeById"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="countPostalCode">
      <wsdl:part
         element="tns:countPostalCode"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findPostalCode">
      <wsdl:part
         element="tns:findPostalCode"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="refreshPostalCode">
      <wsdl:part
         element="tns:refreshPostalCode"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="refreshPostalCodeResponse">
      <wsdl:part
         element="tns:refreshPostalCodeResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="findPostalCodeByIdResponse">
      <wsdl:part
         element="tns:findPostalCodeByIdResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="removePostalCode">
      <wsdl:part
         element="tns:removePostalCode"
         name="parameters">
      </wsdl:part>
      <wsdl:part
         element="tns:metaData"
         name="metaData">
      </wsdl:part>
   </wsdl:message>
   <wsdl:message name="mergePostalCodeResponse">
      <wsdl:part
         element="tns:mergePostalCodeResponse"
         name="parameters">
      </wsdl:part>
   </wsdl:message>
   <wsdl:portType name="PostalCodeWebServiceImpl">
      <wsdl:operation name="findPostalCodeById">
         <wsdl:input
            message="tns:findPostalCodeById"
            name="findPostalCodeById">
         </wsdl:input>
         <wsdl:output
            message="tns:findPostalCodeByIdResponse"
            name="findPostalCodeByIdResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="countPostalCode">
         <wsdl:input
            message="tns:countPostalCode"
            name="countPostalCode">
         </wsdl:input>
         <wsdl:output
            message="tns:countPostalCodeResponse"
            name="countPostalCodeResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findPostalCode">
         <wsdl:input
            message="tns:findPostalCode"
            name="findPostalCode">
         </wsdl:input>
         <wsdl:output
            message="tns:findPostalCodeResponse"
            name="findPostalCodeResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="refreshPostalCode">
         <wsdl:input
            message="tns:refreshPostalCode"
            name="refreshPostalCode">
         </wsdl:input>
         <wsdl:output
            message="tns:refreshPostalCodeResponse"
            name="refreshPostalCodeResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="mergePostalCode">
         <wsdl:input
            message="tns:mergePostalCode"
            name="mergePostalCode">
         </wsdl:input>
         <wsdl:output
            message="tns:mergePostalCodeResponse"
            name="mergePostalCodeResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="persistPostalCode">
         <wsdl:input
            message="tns:persistPostalCode"
            name="persistPostalCode">
         </wsdl:input>
         <wsdl:output
            message="tns:persistPostalCodeResponse"
            name="persistPostalCodeResponse">
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removePostalCode">
         <wsdl:input
            message="tns:removePostalCode"
            name="removePostalCode">
         </wsdl:input>
         <wsdl:output
            message="tns:removePostalCodeResponse"
            name="removePostalCodeResponse">
         </wsdl:output>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding
      name="PostalCodeWebServiceImplServiceSoapBinding"
      type="tns:PostalCodeWebServiceImpl">
      <soap:binding
         style="document"
         transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="findPostalCodeById">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="findPostalCodeById">
            <soap:header
               message="tns:findPostalCodeById"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="findPostalCodeByIdResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="countPostalCode">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="countPostalCode">
            <soap:header
               message="tns:countPostalCode"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="countPostalCodeResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findPostalCode">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="findPostalCode">
            <soap:header
               message="tns:findPostalCode"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="findPostalCodeResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="refreshPostalCode">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="refreshPostalCode">
            <soap:header
               message="tns:refreshPostalCode"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="refreshPostalCodeResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="mergePostalCode">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="mergePostalCode">
            <soap:header
               message="tns:mergePostalCode"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="mergePostalCodeResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="persistPostalCode">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="persistPostalCode">
            <soap:header
               message="tns:persistPostalCode"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="persistPostalCodeResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="removePostalCode">
         <soap:operation
            soapAction=""
            style="document" />
         <wsdl:input name="removePostalCode">
            <soap:header
               message="tns:removePostalCode"
               part="metaData"
               use="literal">
            </soap:header>
            <soap:body
               parts="parameters"
               use="literal" />
         </wsdl:input>
         <wsdl:output name="removePostalCodeResponse">
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="PostalCodeWebServiceImplService">
      <wsdl:port
         binding="tns:PostalCodeWebServiceImplServiceSoapBinding"
         name="PostalCodeWebServiceImplPort">
         <soap:address
            location="http://localhost:8080/gnuob-soap/PostalCodeWebServiceImpl" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>